body {
    color: #4c5761;
    background-color: #8fbc8f;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin: 0;
    /*selain luo automaattisesti pienen marginaalin*/
}

header {
    text-align: center;
    padding-top: 30px;
}