body {
    color: #FFFFf0;
    background-color: #8fbc8f;
    font-family: Verdana;
    font-size: 18px;
    text-shadow: 0.25px 0.25px #4c5761;

    margin: 0;

    /*selain luo automaattisesti pienen marginaalin*/
}

header {
    text-align: center;
    padding-top: 30px;
}



/*fontit*/
h1 {
    font-family: otsikko, "verdana";
    font-size: 35px;
    color: #FFFFf0;
    text-shadow: 2px 2px #4c5761;
    text-align: center;
    padding-top: 70px;

}


h2,
h3 {
    font-family: otsikko, "verdana";
    padding-left: 20px;
    text-align: left;
    margin: 3% 10% 3% 10%;
    text-shadow: 1px 1px #4c5761;
}

p {
    padding-left: 20px;
    margin: 3% 10% 3% 10%;

}




.esittely {
    text-align: left;
    padding-left: 20px;
    font-family: otsikko, "verdana";
    font-size: 18px;
    color: #FFFFf0;
    text-shadow: 0.25px 0.25px #4c5761;
    padding-top: 20px;
    margin: 3% 10% 3% 10%;
}

/*päävalikko*/
nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #8fbc8f;
    text-align: center;
    padding: 10px;
}

nav a {
    background: #8fbc8f;
    font-family: otsikko, "verdana";
    padding: 1px 30px;
    color: #FFFFf0;
    text-decoration: none;
    display: inline-block;
    text-shadow: 1px 1px #4c5761;


}


nav a:hover {
    color: #4c5761;
    background-color: #FFFFf0;
    border: 1px solid #4c5761;
    border-radius: 10px;
    text-shadow: 1px 1px #FFFFf0;
}

#valittu {
    color: #4c5761;
    background-color: #fffff0;
    border: 1px solid #4c5761;
    border-radius: 10px;
    text-shadow: 1px 1px #FFFFf0;
}

.toimintakehote {
    border: 1px solid #FFFFf0;
    border-radius: 10px;
    background-color: #8fbc8f;
    font-family: otsikko, "verdana";
    color: #FFFFf0;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    text-shadow: 1px 1px #4c5761;
}



#etusivu {
    position: relative;
    background-image: url("kuvat/hierontapoyta2.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
}


figure {

    margin: auto;
    margin-bottom: 0px;
    max-width: 300px;
}

figcaption {

    color: #FFFFf0;
    font-style: verdana;
    padding: 6px;
    text-align: center;
    text-shadow: 0.25px 0.25px #4c5761;
}

.kuva {
    max-width: 300px;
    vertical-align: middle;
    width: 100%;

}

/* palvelut-sivun asettelu*/
#hinnasto {
    margin: 3% 10% 3% 10%;
    /* flex-direction: column;*/
}


/*footer, joka sivulla sama*/
footer {
    background-color: #FFFFf0 !important;
    color: #4c5761;
    padding: 20px;
    text-align: center;
    font-size: 15px;

}



/* Etusivun asettelu*/
#slogan {
    margin: 3% 10% 3% 10%
}

/*Yhteystiedot sivun asettelu*/
.kaksiosainen {
    display: grid;
    grid-template-columns: 25% 70%;
    /* Jakaa näytön kahteen erikokoiseen osaan, vasen puoli yhteystiedoille ja oikea toimipisteille */
    gap: 500px;
}

.vasen {
    text-align: left;
}

.yhteystiedot {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* Luo tilaa rivien väliin*/
}

.rivi {
    display: flex;
    justify-content: space-between;
    /* Tekstit erotetaan */
}