/* Yleinen tyyli */
body {
    color: #FFFFF0;
    /* Huom: korjasin kirjoitusvirheen värikoodista (pitäisi olla isolla kaikki) */
    background-color: #8FBC8F;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    text-shadow: 0.25px 0.4px #4C5761;
    margin: 0;
    /* Selain luo automaattisesti pienen marginaalin */
}

/* Ylätunniste */
header {
    text-align: center;
    padding-top: 30px;
}

/* Fonttityylit */
h1 {
    font-family: "Verdana", sans-serif;
    font-size: 35px;
    color: #FFFFF0;
    text-shadow: 2.5px 2.5px #4C5761;
    text-align: center;
    padding-top: 70px;
}

h2,
h3 {
    font-family: "Verdana", sans-serif;
    padding-left: 20px;
    text-align: left;
    margin: 3% 10%;
    text-shadow: 1.5px 1.5px #4C5761;
    color: #FFFFF0;
}

p {
    padding-left: 20px;
    margin: 3% 10%;
}

.esittely {
    font-family: "Verdana", sans-serif;
    font-size: 20px;
    color: #FFFFF0;
    text-shadow: 0.4px 0.4px #4C5761;
    padding-top: 25px;
    margin: 0;
}

/* Navigointivalikko */
nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #8FBC8F;
    text-align: center;
    padding: 5px;
}

nav a {
    background: #8FBC8F;
    font-family: "Verdana", sans-serif;
    padding: 5px 30px;
    color: #FFFFF0;
    text-decoration: none;
    display: inline-block;
    text-shadow: 1.5px 1.5px #4C5761;
}

nav a:hover {
    color: #4C5761;
    background-color: #fffff057;
    border: 1.5px solid #4C5761;
    border-radius: 10px;
    text-shadow: none;
}

#valittu {
    color: #4C5761;
    background-color: #fffff0f1;
    ;
    border: 1.5px solid #4C5761;
    border-radius: 10px;
    text-shadow: none;
}

/* Toimintakehote */
.toimintakehote {
    border: 1.5px solid #FFFFF0;
    border-radius: 10px;
    background-color: #8fbc8f71;
    font-family: "Verdana", sans-serif;
    color: #FFFFF0;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    text-shadow: 1.5px 1.5px #4C5761;
}

/* Etusivun asettelu */
#etusivu {
    position: relative;
    background-image: url("kuvat/paakuva-hieromapoyta.jpg");
    background-size: cover;
    background-position: center;
    height: 950px;
}

#slogan {
    margin: 3% 10% 3% 10%
}

/*pääsivun sisällön asettelu*/
.grid-teksti1 {
    grid-area: g1;
}

.grid-kuva {
    grid-area: g2;
}

figure {
    margin: auto;
    margin-bottom: 0px;
    max-width: 300px;
}

figcaption {
    color: #FFFFF0;
    font-family: "Verdana", sans-serif;
    padding: 6px;
    text-align: center;
    text-shadow: 0.5px 0.5px #4C5761;
}

.kuva {
    max-width: 400px;
    vertical-align: middle;
    width: 100%;
    padding-top: 50px;
    padding-right: 30px;
    margin: 0;
}

/* Yhteystiedot-taulukon tyyli */
table {
    text-align: center;
    margin: 3% 10%;
    padding: 20px;
}

th {
    padding-right: 100px;
    text-align: left;
    text-shadow: 1.5px 1.5px #4C5761;
}

/*Palvelut-sivun asettelu*/
#hinnasto {
    margin: 3% 10% 3% 10%;
}

/* Yhteystiedot ja palvelut-sivun painikkeet */
#painike {
    text-align: center;
    padding: 1px;
    margin-bottom: 80px;
    margin-top: 0px;
}

.otayhteytta {
    border: 1.5px solid #4C5761;
    border-radius: 10px;
    background-color: #fffff0f1;
    font-family: "Verdana", sans-serif;
    color: #4C5761;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    text-shadow: none;

}

/*yhteystietosivun taulukko*/
table {
    text-align: left;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding: 20px;
    padding-bottom: 0px;
    margin: 3% 10% 3% 10%;

}

th {
    padding-right: 100px;
    text-align: left;
    text-shadow: 1.5px 1.5px #4c5761;
    padding-bottom: 0px;
}

td {
    padding-bottom: 20px;
}

/* Yksittäinen kartta (sisältää kartan ja osoitetiedot) */
.kartta {
    text-align: left;
    width: 100%;
    margin-left: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    vertical-align: middle;
}

/* Kartan iframe-tyylit */
.kartta iframe {
    width: 100%;
    height: 300px;
    border: 0;
    max-width: 300px;
    margin: 3% 10% 3% 10%;
    padding: 20px;
}

#ajanvaraus {
    padding: 20px;
    padding-bottom: 20px;
}

#toimipiste {
    padding: 20px;
    margin: 3% 10% 3% 10%;
}

/*kehotus*/
#lopputeksti h2 {
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}

/* Alatunniste */
footer {
    background-color: #FFFFF0 !important;
    color: #4C5761;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    text-shadow: none;
}

/*mobiilikoko*/
@media (max-width: 600px) {
    #etusivu {
        background-image: url(kuvat/paakuva-hieromapoyta.jpg);
        background-size: cover;
        height: 400px;
    }

    nav a {
        font-size: 15px;
        width: 110px;
        height: 20px;
        margin: 3px 5px;
        text-shadow: 1.5px 1.5px #4C5761;
    }

    #slogan {
        font-size: 25px;
        padding: 10px;
        padding-top: 100px;
    }

    .toimintakehote {
        font-size: 18px;
        text-shadow: 1.5px 1.5px #4C5761;
    }

    .sisalto {
        margin: 3% 10% 3% 10%;
    }

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        text-shadow: 1px 1px #4c5761;
    }

    td {
        text-shadow: 1px 1px #4c5761;
    }

    .esittely {
        font-size: 18px;
        text-shadow: 1px 1px #4C5761;
    }

    #paasivu {
        grid-template-areas:
            'g1'
            'g3'
            'g2';
    }

    #footer p {
        text-shadow: none;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }
}

/*tablettikoko*/
@media screen and (min-width: 600px) {
    #etusivu {
        background-image: url(kuvat/paakuva-hieromapoyta.jpg);
        background-size: cover;
        height: 600px;
    }

    nav a {
        font-size: 15px;
        width: 120px;
        height: 20px;
        margin: 3px 10px;

    }

    #slogan {
        font-size: 40px;
        padding-top: 100px;
        padding-bottom: 20px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .toimintakehote {
        font-size: 20px;
    }

    .sisalto {
        margin: 3% 10% 3% 10%;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 20px;
    }


    .esittely {
        font-size: 20px;

    }

    #paasivu {
        grid-template-areas:
            'g1'
            'g3'
            'g2';
    }

    footer {
        flex-direction: column;
        text-align: center;
    }
}

/*suuri näyttö*/
@media screen and (min-width: 1200px) {
    #etusivu {
        background-image: url(kuvat/paakuva-hieromapoyta.jpg);
        background-size: cover;
        height: 950px;
    }

    nav a {
        font-size: 20px;
        width: 150px;
        height: 25px;
        margin: 5px 20px;
    }

    #slogan {
        font-size: 60px;
        padding-top: 150px;
        padding-bottom: 20px;
        padding-left: 180px;
        padding-right: 180px;
    }

    .toimintakehote {
        font-size: 30px;
    }

    .sisalto {
        margin: 3% 10% 3% 10%;
    }

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 25px;
    }

    p {
        font-size: 23px;
    }

    table {
        font-size: 23px;
    }

    .kartta p {
        font-size: 18px;
    }

    .esittely {
        font-size: 25px;
    }

    #paasivu {
        grid-template-areas:
            'g1 g1 g3'
            'g2 g2 g3';
        margin-bottom: 100px;

    }

    #hinnasto {
        grid-template-areas:
            'g1 g1 g3'
            'g2 g2 g3';
        margin-bottom: 100px;

    }

    /*karttojen asetus vierekkäin*/
    .kartat {
        display: flex;
        justify-content: space-between;
        text-align: left;
    }

    .kartta {
        margin: 100px;
        margin-top: 0;

    }

    .kartta iframe {
        max-width: 500px;
        margin: 60px;
        margin-top: 0;
        margin-bottom: 0;
    }

    footer {
        flex-direction: row;
        text-align: center;
        bottom: 0;
        width: 100%;
        max-height: 15%;
    }


}